@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

.navigationbar-image {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-brand .nav-link {
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold";
  font-size: 25px;
  transition: transform 0.2s;
}

.navbar-brand .nav-link:hover {
  transform: scale(1.1);
}

.navbar-brand {
  margin-right: 13%;
}

.custom-nav-text {
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 20px;
}

.navbar-dark .navbar-nav > .nav-item > .active {
  color: white;
  font-weight: bold;
  text-decoration-line: underline;
}

.navbar-dark .navbar-nav > .nav-item {
  transition: transform 0.2s;
}

.navbar-dark .navbar-nav > .nav-item:hover {
  transform: scale(1.1);
}

.navbar-dark .navbar-nav > .nav-item > a {
  color: #ffffff;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

@media only screen and (max-width: 992px) {
  .navbar-dark .navbar-nav > .nav-item:hover {
    transform: scale(1.03);
  }

  .navbar-brand .nav-link {
    font-size: 20px;
  }

  .custom-nav-text {
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    font-size: 15px;
  }
}
